/* **** media **** */
// oshine breakpts
// mobile menu shows at max-width: 960px
// small desktop: (min-width: 960px) and (max-width: 1279px) {
// tablet max-width: 1024px
// max-width: 767px
// (min-width: 480px) and (max-width: 767px)


@media only screen and (min-width: 960px) and (max-width: 1279px) { // small desktop
}

@media only screen and (max-width: 1024px) { // tablet
}
@media only screen and (min-width: 768px) and (max-width: 959px) { // tablet
}

@media only screen and (max-width: 960px) {

}
@media only screen and (max-width: 1172px) and (min-width: 960px) { // where logo gets too big
	body #header-inner-wrap.top-animate #header-controls-right #navigation,
	#header-wrap #navigation {
		line-height: 2.5em;

	}
}


@media only screen and (min-width: 768px) {
	.reach-pull-right {
		float: right;
	}
}
@media only screen and (max-width: 767px) { // mobile - mobile menu shows here.
	// hide-mobile available from tatsu
	#header-inner-wrap .logo {
		max-width: 75%;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) { // mobile 480
}

@media only screen and (max-width: 479px)  {
	#header-inner-wrap #header-wrap  .logo {
		margin-left: 5px;
	}

}
